/* ==========================================================================
   nav-menu Main Stylesheet
   ========================================================================== */

body {
  margin: 0px;
}

.nav-menu {
  font-size: 24px;
  list-style: none;
  float: right;
}

.nav-menu li {
  display: inline-block;
}

.outerWrapper, .innerWrapper, .sidebar {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  background-color: #000;
  width: 200px;
  margin: 0px;
}

.sidebar a {
  color: #fff;
}

/* ---------------------------------------------
    Predefined classes (required)
   --------------------------------------------- */
.activeOverlay {
  position: fixed;
  z-index: 9998;
  height: 100%;
  width: 100%;
}

/* ---------------------------------------------
		Hack (required to work on cell phones)
   --------------------------------------------- */
html, body {
	overflow-x: hidden;
}