/* ==========================================================================
   nav-menu Main Stylesheet
   ========================================================================== */

.logo {
  font-size: 36px;
  float: left;
}

.nav-menu {
  list-style: none;
  font-size: 24px;
  float: right;
  margin: 0px;
}

.nav-menu li {
  display: inline-block;
}

#wrapper {
  width: 500px;
}

#sidebar {
  margin: 0;
  padding: 0;
  left: 50px;
  background-color: #fff;
}
.clearfix:after {
  display: table;
  clear: both;
  content: " ";
}

/* ---------------------------------------------
    Burger 
   --------------------------------------------- */

#burger { 
  cursor: pointer;
  z-index: 9999;
}

#burger span, #burger span:before, #burger span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #777;
  position: relative;
  display: block;
  content: '';
 
}

#burger span:before {
  top: -10px; 
}

#burger span:after {
  bottom: -5px;
}